* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    /* 바디의 높이를 100% 뷰포트로 정해주지 않으면 내부 컨텐츠크기에 
    딱 맞춰 높이가 설정되므로 align-item 중앙정렬이 의미 없어짐 */
    /* align-items: center; */
    height: 100vh;
}

/* 여기서부터 로그인 css */

#login {
    margin: 25px;
    padding: 15px;
    width: 400px;
    height: 350px;
    background-color: #ffccbc;
    text-align: center;
    box-shadow: 6px 6px 25px 1px gray;
    border-radius: 15px;
}

#login .bottom {
    position: relative;
    background-color: #fb8c00;
    width: 430px;
    height: 325px;
    left: 50%;
    margin-top: 5px;
    transform: translate(-50%, 0%);
    border-radius: 15px;
}

#login .content {
    position: relative;
    background-color: white;
    width: 370px;
    height: 265px;
    left: 50%;
    top: 50%;
    margin-top: 5px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
}

        /* flex-basis:width와 비슷하지만 조금 더 유연한 넓이 
        div태그에 width를 속성으로 주면 고정된 느낌
        더 큰 이미지가 들어왔을때 이미지가 밖으로 삐져나오거나 이미지가 축소
        flex-basis는 기본적으로 width와 같이 초기 넓이값을 주지만
        더 큰 이미지가 들어오면 영역이 넓어지는 등 유연함*/
        /* flex에 대한 자세한 설명은 https://studiomeal.com/archives/197 여기서 */
        /* 아래는 모두 글자 양 옆에 줄을 긋는 태그 */
        .line {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            color: #fb8c00;
            font-size: 12px;
            margin: 8px 0px;
        }

        /* line클래스(글자)앞 뒤로 배경색을 주는데, 1px로 고정시켜 마치 선처럼 보이게 만든다 */
        .line::before,
        .line::after {
            content: "";
            flex-grow: 1;
            background: #fb8c00;
            height: 1px;
            font-size: 0px;
            margin: 0px 16px;
        }

        #login .textForm {
            border: 2px solid #ffccbc;
            margin: 15px;
            padding: 0;
            width: 230px;
        }

        #login .textbox {
            width: 100%;
            border: none;
            outline: none;
            color: #636e72;
            font-size: 16px;
            height: 25px;
            background: none;
            margin-left: 15px;
        }

        #signin {
            display: flex;
        }

        #login_btn>.btn2 {
            font-size: 18px;
            width: 110px;
            height: 75px;
            margin: 15px 10px 10px 0px;
        }

        #social {
            margin-top: 10px;
        }

        #icons {
            /* 위쪽 라인과 아이콘들 간격 벌리기 */
            padding-top: 9px;
            /* 디스플레이 플렉스와 space-evenly를 쓰면 콘텐츠간 간격을 자동 조정해줌 */
            display: flex;
            justify-content: space-evenly;
        }

        #icons img {
            width: 60px;
            height: 60px;
            cursor: pointer;
        }

        #join {
            padding: 30px;
            text-align: center;
        }

        #join>.btn2 {
            width: 320px;
            height: 40px;
            font-size: 18px;
        }

        .btn2 {
            cursor: pointer;
            /* linear-gradient란, 선형(가장 일반적인) 그라데이션을 줄 수 있는 속성 (방향 또는 각도, 색) */
            /* radial-gradient(반지름형), repeating-gradient(반복형) */
            background: linear-gradient(125deg, #ffccbc, #fb8c00, #ffccbc);
            background-position: left;
            /* 백그라운드 사이즈를 키운 이유는 일반적인 3색 그라데이션을 보여줄 것이 아니라 
            두가지만 보여준 후 나중에 hover 이벤트로 반대쪽 그라데이션을 보여줄 것이기 때문  */
            background-size: 200%;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 15px;
            transition: 0.4s;
        }

        .btn2:hover {
            background-position: right;
            background: linear-gradient(125deg, #ffccbc, #d84315, #ffccbc);
            background-size: 200%;
            background-position: right;
        }





/* 여기서부터는 회원가입 */

/* 큰 살구색 박스 */
#signup {
    margin: 25px;
    padding: 15px;
    width: 400px;
    height: 566px;
    background-color: #ffccbc;
    text-align: center;
    box-shadow: 6px 6px 25px 1px gray;
    border-radius: 15px;
    display:none;
}

h2 {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.tab {
    display: flex;
    justify-content: space-evenly;
}

.tab div {
    padding: 15px 60px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    /* margin: 0px; */
}

.tab div:hover {
    text-decoration: overline 3px;
}

#bottom2 {
    position: relative;
    background-color: #fb8c00;
    width: 430px;
    height: 500px;
    left: 50%;
    margin-top: -13px;
    transform: translate(-50%, 0%);
    border-radius: 15px;
}

#content2 {
    position: relative;
    background-color: white;
    width: 370px;
    height: 435px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
}

#infor2 {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 2 1 1;
    /* border: 1px solid; */
}

.tx {
    border: 2px solid #ffccbc;
    margin: 10px;
    padding: 0;
    width: 220px;
}

.textbox,
.textbox2,
.textbox3 {
    width: 100%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 15px;
    height: 25px;
    background: none;
    margin-left: 15px;
}

/* 위와 같지만 왼쪽 마진이 없는 버전 */
.textbox2 {
    margin-left: 0px;
}

.textbox3 {
    margin-left: 8px;
}

.btn button {
    width: 115px;
    margin: 9px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border-color: #fb8c00;
    background-color: white;
    cursor: pointer;
}

.email {
    width: 150px;
}

.number1 {
    width: 70px;
}

.number2 {
    width: 50px;
}

#address {
    width: 300px;
}

#signup_join {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

#signup_join>.btn {
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    /* linear-gradient란, 선형(가장 일반적인) 그라데이션을 줄 수 있는 속성 (방향 또는 각도, 색) */
    /* radial-gradient(반지름형), repeating-gradient(반복형) */
    background: linear-gradient(125deg, #ffccbc, #fb8c00, #ffccbc);
    background-position: left;
    /* 백그라운드 사이즈를 키운 이유는 일반적인 3색 그라데이션을 보여줄 것이 아니라 
    두가지만 보여준 후 나중에 hover 이벤트로 반대쪽 그라데이션을 보여줄 것이기 때문  */
    background-size: 200%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
}

#signup_join>.btn:hover {
    background: linear-gradient(125deg, #ffccbc, #d84315, #ffccbc);
    background-size: 200%;
    background-position: right;
}

.clear {
    width: 100px;
}

.selected {
    background-color: #fb8c00;
    font-weight: bold;
    color: white;
}



