#container {
    float: left;
}

#container div {
    position: absolute;
}

/* img의 크기를 div에 꽉 채워주도록 함 */
/* 원래 width : 100%, height : 100% 였으나, 화면이 줄어들면 찌그러지는 특징이 있었음
이를 object-fit으로 해결 */
img {
    object-fit: cover;
    filter: drop-shadow(0px 0px 2px black);
}

/* 수정구 위치 잡기 */
#sujung1 {
    top: 32px;
    left: 100px;
    /* background-color: yellow; */
    /* 가끔 다른 오브젝트의 z-index 값을 올려도 올라오지 않는 경우가 있는데
    이럴 경우 뒤로 가야하는 오브젝트의 z-index값을 마이너스로 해봐야한다 */
    z-index: -1;
}

/* 중원구 위치 잡기 */
#jungwon1 {
    top: 35px;
    left: 240px;
    /* background-color: blue; */
    z-index: -1;

}

/* 분당구 위치 잡기 */
#bundang1 {
    top: 158px;
    left: 97px;
    /* background-color: red; */
    z-index: -1;
}

/* 마우스가 오버됐을 경우 오브젝트에 그림자를 뿌리고 왼쪽 위로 0.5초간 이동 */
/* #container div:hover {
    filter: drop-shadow(10px 10px 15px black);
    transform: translate(-10px, -10px);
    transition: 500ms;
} */
/* 클래스가 부여된 대상에만 호버 이벤트를 발생시킴 */
.hovo:hover {
    filter: drop-shadow(10px 10px 15px black);
    transform: translate(-10px, -10px);
    transition: 500ms;
    cursor: pointer;
}
.right {
    position: absolute;
    top: 5px;
    left: 500px;
    width: 230px;
    /* background : linear-gradient(125deg, #FAE3D2, #FDCEC8, #E3C0B3); */

    display: none;
    text-align: center;
    border-radius: 10px;
    /* filter: drop-shadow(1px 1px 1px black); */
}
h3{
    margin: 5px;padding: 0;
}

.right ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -5px;
}

li {
    list-style-type: none;
    margin: 5px 7px 10px 5px;
    font-size: 20px;
}

ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

#pin img {
    position: absolute;
    display: none;
    width: 25px;
    height: 25px;
}
/* 수정구 */
#pin_shiheung {
    top: 280px;
    left: 130px;
}

#pin_godeung {
    top: 180px;
    left: 200px;
}

#pin_shinchon {
    top: 100px;
    left: 220px;
}

#pin_bokjung {
    top: 80px;
    left: 320px;
}

#pin_yangzi {
    top: 60px;
    left: 400px;
}

#pin_dandae {
    top: 110px;
    left: 380px;
}

#pin_sansung {
    top: 100px;
    left: 350px;
}

#pin_shinheung {
    top: 140px;
    left: 320px;
}

#pin_taepyung {
    top: 130px;
    left: 270px;
}

#pin_sujin {
    top: 160px;
    left: 280px;
}
/* 중원구 */
#pin_eunhang {
    top: 90px;
    left: 310px;
}
#pin_geumgwang {
    top: 150px;
    left: 260px;
}
#pin_jungang {
    top: 210px;
    left: 200px;
}
#pin_sangdaewon {
    top: 200px;
    left: 320px;
}
#pin_hadaewon {
    top: 280px;
    left: 180px;
}
#pin_sungnam {
    top: 260px;
    left: 110px;
}
#pin_dochon {
    top: 320px;
    left: 280px;
}
/* 분당구 */
#pin_yatap {
    top: 70px;
    left: 340px;
}

#pin_imae {
    top: 120px;
    left: 300px;
}

#pin_sampyung {
    top: 100px;
    left: 240px; 
}

#pin_pangyo {
    top: 130px;
    left: 210px; 
}  

#pin_unjung {
    top: 170px;
    left: 100px; 
}

#pin_baekhyun {
    top: 160px;
    left: 220px; 
}

#pin_geumgok {
    top: 210px;
    left: 190px;
} 

#pin_gumi {
    top: 290px;
    left: 240px;
}


#pin_jungja {
    top: 250px;
    left: 280px;
}

#pin_sunae {
    top: 220px;
    left: 260px;
}

#pin_bundang2 {
    top: 230px;
    left: 350px;
}

#pin_seohyun {
    top: 150px;
    left: 400px;
}

.rewind{
    width: 115px;
    margin: 9px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border-color: #fb8c00;
    background-color: white;
    cursor: pointer;
    z-index: 3;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
}
.rewind:hover{
    background-color: #ffccbc;
}

@keyframes jump {
    0% {
        transform: rotateY(0deg) translateY(0);
    }

    25% {
        transform: rotateY(90deg) translateY(10px);
    }

    50% {
        transform: rotateY(180deg) translateY(0);
    }

    75% {
        transform: rotateY(270deg) translateY(10px);
    }

    100% {
        transform: rotateY(360deg) translateY(0);
    }
}

.rotate-jump {
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
input[type=checkbox]{
    width: 20px; height: 20px;
}